.main {
  padding: 15px;
}
.about_bg {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px) {
  .main {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
  }
  .about_bg {
    width: 1024px;
    align-self: center;
  }
}
