.rating_img {
  margin-right: 10px;
  width: 15px;
}
.rating_bg {
  display: flex;
}

/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 780px) and (max-width: 979px) {
  .rating_img {
    width: 17px;
  }
}

@media screen and (min-width: 980px) {
  .rating_img {
    width: 30px;
  }
}
