.main {
  padding: 40px 100px;
}
.cards_bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f7f7f7;
  border-radius: 25px;
  margin-top: 43px;
  padding: 56px 50px;
  justify-content: space-around;
  gap: 40px;
}

/* Media queries mobiles */
@media only screen and (max-width: 480px) {
  .main {
    padding: 15px;
  }

  .cards_bg {
    background: none;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
    margin-top: 22px;
  }
}

/* Media queries iPads, tablettes */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    padding: 15px;
  }
  .cards_bg {
    gap: 22px;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    padding: 15px;
  }
  .cards_bg {
    gap: 25px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .cards_bg {
    gap: 33px;
  }
}
