.main {
  padding: 40px 100px;
}
.cards_bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f7f7f7;
  border-radius: 25px;
  margin-top: 43px;
  padding: 56px 50px;
  justify-content: space-around;
  gap: 40px;
}

/* Media queries */
@media only screen and (max-width: 480px) {
  .main {
    padding: 15px;
  }

  .cards_bg {
    background: none;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
    margin-top: 22px;
  }
}
