/* .main {
  padding: 40px 100px;
}
.cards_bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f7f7f7;
  border-radius: 25px;
  margin-top: 43px;
  padding: 56px 50px;
  justify-content: space-around;
  gap: 40px;
} */

.main {
  padding: 15px;
}

.cards_bg {
  display: flex;
  background: none;
  margin-top: 22px;
  flex-direction: column;
  gap: 20px;
}

/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 780px) and (max-width: 979px) {
  .cards_bg {
    background: #f7f7f7;
    border-radius: 25px;
    padding: 50px;
  }
}

/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px) {
  .main {
    padding: 40px 100px;
  }
  .cards_bg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #f7f7f7;
    border-radius: 25px;
    margin-top: 43px;
    padding: 56px 50px;
    justify-content: space-around;
    gap: 40px;
  }
}
