.card_column {
  width: 30.3%;
  border-radius: 10px;
  background: #ff6060;
  border-radius: 10px;
  text-decoration-line: none;
}

.card_img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #fff;
  width: 70%;
  padding: 20px;
}

.card_link {
  text-decoration: none;
}

/* Media queries mobiles */
@media only screen and (max-width: 480px) {
  .card_column {
    width: 100%;
  }
  .card_title {
    padding: 15px;
    font-size: 18px;
  }
}
/* Media queries iPads, tablettes */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card_title {
    width: 83%;
    padding: 16px;
    font-size: 18px;
  }
  .card_column {
    width: 100%;
  }
}
