.collapse_column {
  width: 100%;
  margin-bottom: 30px;
}
.collapse_title {
  display: flex;
  background: #ff6060;
  color: #fff;

  justify-content: space-between;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 142.6%;
  align-items: center;
  padding: 10px 15px;
}

.collapse_text {
  border-radius: 5px;
  background: #f6f6f6;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  padding: 17px 15px;
}

/* Media queries mobiles */
@media only screen and (max-width: 480px) {
  .collapse_column {
    padding: 19px 0 19px 0;
  }
  .collapse_title {
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
  }
  .collapse_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
  }
}
