.collapse_column {
  background: #ff6060;
  border-radius: 5px;
}

.collapse_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 142.6%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.collapse_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.6%;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 0 0 5px 5px;
  padding: 15px;
}

/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px) {
  .collapse_title {
    font-size: 24px;
  }
  .collapse_text {
    font-size: 24px;
  }
}
