.header_bg {
  display: flex;
  align-items: center;
  padding: 15px;
}
.header_logo {
  width: 145px;
  height: 47px;
}
.nav_home,
.nav_about {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 142.6%;
  color: #ff6060;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px) {
  .header_bg {
    padding: 40px 100px;
  }
  .nav_home,
  .nav_about {
    font-size: 24px;
    text-transform: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 57px;
  }
}
