.error_bg {
  display: flex;
  flex-direction: column;
}
.error_404 {
  font-family: Montserrat;
  font-size: 200px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  color: #ff6060;
  text-align: center;
}

.error_text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff6060;
}

.error_link {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #ff6060;
  text-align: center;
  margin-top: 140px;
}

/* Media queries mobiles */
@media only screen and (max-width: 480px) {
  .error_bg {
    margin-top: 198px;
  }
  .error_404 {
    font-weight: 700;
    font-size: 96px;
    line-height: 142.6%;
  }

  .error_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }

  .error_link {
    font-size: 14px;
  }
}
